<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movimento das Aeronaves</title>
  <link rel="icon" type="image/png" sizes="128x128" href="/src/main/resources/static/imagens/aeroclube_ico.ico">
  <link rel="stylesheet" href="../static/css/global.css">
  <link rel="stylesheet" href="../static/css/movimento-das-aeronaves.css">
  <link rel="stylesheet" href="../static/css/base-cores.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap/bootstrap-css/bootstrap.min.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap/bootstrap-icons/bootstrap-icons.css">
  <script src="/src/main/resources/static/js/bootstrap-js/bootstrap.bundle.js"></script>

<body>

  <header>
    <img src="/src/main/resources/static/imagens/logo_aeroclube_sm.png" alt="Logo do Aeroclube de Pirssununga"
      class="img_logo">
    <div>
      <h1 class="titulo_pag">MOVIMENTO DAS AERONAVES</h1>
    </div>
  </header>

  <article>
    <div class="tb_ctr_horas">
      <table class="table table-striped table-hover table-bordered">
        <caption>
          <button type="button" class="bt_adc_info" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"
            data-bs-whatever="@mdo">Adicionar informações</button>
        </caption>
        <!-- Fazer páginação da tabela
          <caption class="num_pag_tb"> 
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              Pagina 1
            </button>
            <ul class="dropdown-menu" data-bs-toggle="dropdown" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button">Pagina 2</button></li>
              <li><button class="dropdown-item" type="button">Pagina 3</button></li>
            </ul>
          </div>
        </caption>-->
        <thead class="cor_cabecalho_tb table-bordered">
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Prefixo do avião</th>
            <th scope="col">Piloto</th>
            <th scope="col">Aluno</th>
            <th scope="col">Local de decolagem</th>
            <th scope="col">Hora de decolagem</th>
            <th scope="col">Hora de aterragem</th>
            <th scope="col">Tempo do vôo</th>
            <th scope="col">Nº do cartão de vôo</th>
            <th scope="col">Nº aterragem</th>
            <th scope="col">Observações</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody id="bg_tr" class="table-bordered">
          <tr>
            <th scope="row">22/05/2022</th>
            <td>#0102</td>
            <td>Cesar</td>
            <td>Pedro</td>
            <td>ACP</td>
            <td>14:20</td>
            <td>15:20</td>
            <td>1h</td>
            <td>212523</td>
            <td>2524</td>
            <td>Instrução</td>
            <td>
              <button id="borda_btn" type="button" data-bs-toggle="modal" class="text-danger"
                data-bs-target="#excluirModal" title="Remover Membro">
                <i class="bi bi-trash"></i>
              </button>

              <button id="borda_btn_edit" type="button" data-bs-toggle="modal" class="text-secundary"
                data-bs-target="#alterarModal" title="Alterar Membro">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">24/05/2022</th>
            <td>#0102</td>
            <td>Cesar</td>
            <td>Pedro</td>
            <td>ACP</td>
            <td>14:20</td>
            <td>15:20</td>
            <td>1h</td>
            <td>212523</td>
            <td>2524</td>
            <td>Instrução</td>
            <td>
              <button id="borda_btn" type="button" data-bs-toggle="modal" class="text-danger"
                data-bs-target="#excluirModal" title="Remover Membro">
                <i class="bi bi-trash"></i>
              </button>

              <button id="borda_btn_edit" type="button" data-bs-toggle="modal" class="text-secundary"
                data-bs-target="#alterarModal" title="Editar Membro">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">26/05/2022</th>
            <td>#0102</td>
            <td>Cesar</td>
            <td>Pedro</td>
            <td>ACP</td>
            <td>14:20</td>
            <td>15:20</td>
            <td>1h</td>
            <td>212523</td>
            <td>2524</td>
            <td>Instrução</td>
            <td>
              <button id="borda_btn" type="button" data-bs-toggle="modal" class="text-danger"
                data-bs-target="#excluirModal" title="Remover Membro">
                <i class="bi bi-trash"></i>
              </button>

              <button id="borda_btn_edit" type="button" data-bs-toggle="modal" class="text-secundary"
                data-bs-target="#alterarModal" title="Editar Membro">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">28/05/2022</th>
            <td>#0102</td>
            <td>Cesar</td>
            <td>Pedro</td>
            <td>ACP</td>
            <td>14:20</td>
            <td>15:20</td>
            <td>1h</td>
            <td>212523</td>
            <td>2524</td>
            <td>Instrução</td>
            <td>
              <button id="borda_btn" type="button" data-bs-toggle="modal" class="text-danger"
                data-bs-target="#excluirModal" title="Remover Membro">
                <i class="bi bi-trash"></i>
              </button>

              <button id="borda_btn_edit" type="button" data-bs-toggle="modal" class="text-secundary"
                data-bs-target="#alterarModal" title="Editar Membro">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">30/05/2022</th>
            <td>#0102</td>
            <td>Cesar</td>
            <td>Pedro</td>
            <td>ACP</td>
            <td>14:20</td>
            <td>15:20</td>
            <td>1h</td>
            <td>212523</td>
            <td>2524</td>
            <td>Instrução</td>
            <td>
              <button id="borda_btn" type="button" data-bs-toggle="modal" class="text-danger"
                data-bs-target="#excluirModal" title="Remover Membro">
                <i class="bi bi-trash"></i>
              </button>

              <button id="borda_btn_edit" type="button" data-bs-toggle="modal" class="text-secundary"
                data-bs-target="#alterarModal" title="Editar Membro">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
  <!--Modal Adicionar informações-->
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg_modal_header">
          <h5 class="modal-title cor_modal_titulo" id="exampleModalToggleLabel">Adicionar informações do <b>PILOTO</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg_modal_body">
          <form>
            <div class="form-floating mb-3">
              <select class="form-select bg_modal_select" id="floatingSelect" aria-label="Floating label select example">
                <option class="bg_modal_select" value="Piloto 1">Piloto 1</option>
                <option class="bg_modal_select" value="Piloto 2">Piloto 2</option>
                <option class="bg_modal_select" value="Piloto 3">Piloto 3</option>
              </select>
              <label for="floatingSelect">Piloto</label>
            </div>
        
            <div class="mb-3">
              <input type="number" class="form-control bg_modal_input" id="recipient-name" placeholder="Nº do cartão">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control bg_modal_input" id="recipient-name" placeholder="Prefixo do avião">
            </div>
            <div class="form-floating mb-3">
              <select class="form-select bg_modal_select" id="floatingSelect" aria-label="Floating label select example">
                <option class="bg_modal_select" value="Aluno 1">Aluno 1</option>
                <option class="bg_modal_select" value="Aluno 2">Aluno 2</option>
                <option class="bg_modal_select" value="Aluno 3">Aluno 3</option>
              </select>
              <label for="floatingSelect">Aluno</label>
            </div>
          </form>
        </div>
        <div class="modal-footer bg_modal_footer">
          <button class="btn cor_botao_modal" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Próximo <i class="bi bi-arrow-right-square-fill"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg_modal">
        <div class="modal-header bg_modal_header">
          <h5 class="modal-title cor_modal_titulo" id="exampleModalToggleLabel2">Adicionar informações do <b>VÔO</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <input type="date" class="form-control bg_modal_input" id="recipient-name" placeholder="Data">
                </div>
                <div class="col">
                  <input type="time" class="form-control bg_modal_input" id="recipient-name" placeholder="Tempo de vôo">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <input type="txt" class="form-control bg_modal_input" id="recipient-name" placeholder="Local de decolagem">
                </div>
                <div class="col">
                  <input type="time" class="form-control bg_modal_input" id="recipient-name" placeholder="Hora de decolagem">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <input type="txt" class="form-control bg_modal_input" id="recipient-name" placeholder="Local de aterragem">
                </div>
                <div class="col">
                  <input type="time" class="form-control bg_modal_input" id="recipient-name" placeholder="Hora de aterragem">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <input type="number" class="form-control bg_modal_input" id="recipient-name" placeholder="Nº de aterragens">
                </div>
                <div class="col">
                  <textarea class="form-control bg_modal_input" id="exampleFormControlTextarea1" rows="1"
                    placeholder="Observações"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="mb-4 bg_modal_footer">
          <div class="row m-0">
            <div class="modal-footer col-3 pr_botao_voltar">
              <button class="btn cor_botao_modal" data-bs-target="#exampleModalToggle2"
                data-bs-toggle="modal">Voltar <i class="bi bi-arrow-return-left"></i></button>
            </div>
            <div class="modal-footer col-9">
              <button class="btn cor_botao_modal_salvar" data-bs-target="#exampleModalToggle2"
                data-bs-toggle="modal">Salvar <i class="bi bi-save-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const myModalAlternative = new bootstrap.Modal('#myModal', options)
  </script>
</body>

</html>